* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
	font-family: "Overpass", Helvetica, Arial, sans-serif;
}

body {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

.ultrabig {
	font-weight: 800;
	font-family: "IBM Plex Serif", "Times New Roman", Times, serif;
	font-size: 14vw;
}

.biggest {
	font-weight: 800;
	font-family: "IBM Plex Serif", "Times New Roman", Times, serif;
	font-size: 9vw;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.bigger {
	font-weight: 800;
	font-family: "IBM Plex Serif", "Times New Roman", Times, serif;
	font-size: 5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.big {
	font-weight: 400;
	font-family: "Overpass";
	font-size: 2rem;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.hashtags {
	font-weight: 200;
	font-size: 1.6rem;
}

#contact p {
	font-size: 1.6rem;
	margin-bottom: 1em;
}

.fa {
	background-color: #000;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	padding: .5rem;
	margin-right: .5rem;
}

.fa:hover {
	background-color: #ff3333;
	transition: all ease 0.2s;
}

.fa:active {
	background-color: #ff3333;
	transition: all ease 0.2s;
}

.black-red:hover {
	transition: all ease 0.2s;
}

.black-red:active {
	transition: all ease 0.2s;
}

.red-black-hover:hover {
	transition: all ease 0.2s;
}

.red-black-hover:active {
	transition: all ease 0.2s;
}

.black-white:hover {
	transition: all ease 0.2s;
}

.black-white:active {
	transition: all ease 0.2s;
}

.white-red:hover {
	transition: all ease 0.2s;
}

.white-red:active {
	transition: all ease 0.2s;
}

.white-black:hover {
	transition: all ease 0.2s;
}

.white-black:active {
	transition: all ease 0.2s;
}

#logo {
	padding: .5rem .25rem;
}

#logo.big {
	font-family: "IBM Plex Serif", "Times New Roman", Times, serif;
	font-weight: 800;
	margin:0;
}

#welcome h1.ultrabig {
	margin: 0;
}

#welcome h2.biggest {
	font-family: "Overpass";
	margin: 0;
	margin-top: 3vw;
	line-height: 1.5em;
}

#welcome h3.bigger {
	font-weight: 400;
	font-family: "Overpass";
	margin: 0;
	margin-top: 1vw;
	line-height: 1.5em;
}

.burgerbtn {
	padding: 0;
	font-size: 5vw;
	display: none;
}

header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 12vw;
	position: fixed;
	top: 3vw;
	z-index: 2;
	
}

header a {
	font-weight: 800;
	color: #000;
	text-decoration: none;
}

.topmenu {
	padding: .5rem 0;
}

.topmenu a {
	padding: .5em;
}

.topmenu a:hover {
	background: #000;
	color: #fff;
	transition: all ease 0.2s;
}

.topmenu a:active {
	background: #000;
	color: #fff;
	transition: all ease 0.2s;
}

/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */   
	display: none;
	height: 100%;
	width: 0%;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	overflow: hidden; /* Disable horizontal scroll */
	font-size: 5vw;
}

.overlay-header {
	margin-top: 3vw;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-left: 12vw;
	padding-right: 12vw;
}

/* Position the content inside the overlay */
.overlay-content {
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-left: 12vw;
	margin-right: 12vw;
	margin-top: 14vw;
}

.overlay-content a {
	padding: .5em;
}

.overlay-content a:hover {
	background: #000;
	color: #fff;
	transition: all ease 0.2s;
}

.overlay-content a:active {
	background: #000;
	color: #fff;
	transition: all ease 0.2s;
}


/* Tablet horizontal */
@media screen and (max-width: 1024px) {


	.hashtags {
		font-size: 4vw;
	}

	#contact p {
		font-size: 4vw;
	}

}

/* Tablet portrait */
@media screen and (max-width: 768px) {

	html {
		font-size: 16px;
	}

	.big {
		font-size: 5vw;
	}

	.topmenu {
		display: none;
	}

	.burgerbtn {
		display: inline;
	}

	.overlay {
		display: block;
	}
}

/* Smartphone */
@media screen and (max-width: 480px) {

	.hashtags {
		font-size: 1rem;
	}

	#contact p {
		font-size: 1rem;
	}

	.fa {

		width: 3rem;
		height: 3rem;
		font-size: 2rem;
	}

	#dinosign {
		display: none;
	}
	
}

#svg-heart {
	padding: 0;
	margin: 0;
	height: 0.66em;
	animation: heartbeat 1.5s alternate 2 ease-in;
	animation-play-state: paused;
}

@keyframes heartbeat {
	0%   {transform: scale(1);}
	33%   {transform: scale(0.98);}
	100% {transform: scale(1.5);}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	/*
	grid-column-gap: 1vw;
	grid-row-gap: 1vh;
	*/
}

.red--background {
	background: #ff4433;
}

.red {
	color: #ff4433;
}

.white--background {
	background: #fff;
}

.white {
	color: #fff;
}

.black--background {
	background: #000;
}

.black {
	color: #000;
}

.light--background {
	background: linear-gradient(to top right, #ffe4e4, white);
}

.marker {
	display: inline-block;
	background: #fff;
}



#welcome {
	padding-top: 13vw;
	padding-bottom: 13vw;
}

.section--padding {
	padding-top: 5vw;
	padding-bottom: 7vw;
}

.site--padding {
	padding-top: 10vw;
	padding-bottom: 7vw;
}

#welcome--headings {
	grid-column: 3/15;
	margin-bottom: 10vw;
}


#contact--me {
	grid-column: 8/14;
	display: flex;

	justify-content: center;
	align-items: center;

}

.button {
	text-decoration: none;
}

.button--inner {
	font-weight: 800;
	display: inline-block;
	margin: 0;
	padding: .5rem .25rem;
}

.button .noserif {
	font-family: "Overpass";
}

.section--heading {
	grid-column: 4/15;
}

/* Aspect Ratio Textbox – Psuedo Element Tactic */

.box--padding {
	padding-top: 5vw;
	padding-bottom: 5vw;
}

.list--padding {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.box::before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
	padding-top: 56.25%;	
}

.box::after { /* to clear float */
	content: "";
	display: table;
	clear: both;
}

.teaser {
	margin-top: 3vw;
	margin-bottom: 10vw;

}

.graphic {
	grid-column: 1/17;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
}


.bar {
	grid-column: 1/6;

}

.overlapping {
	grid-row: 1;
}

.text {

	grid-column: 6/17;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}

.text div {
	grid-column: 2/10;
}



#dinosign {
	z-index: 1;
	grid-row: 1;
	grid-column: 3/9;
	max-width: 100%; 
	height: auto;

}

#dinosign--description {
	grid-row: 1;
}

#dinosign--description div {
	display: flex; 
	align-items: 
	flex-end;
}

.img--grid--4 {
	grid-column: 3/15;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 5vw;
	grid-row-gap: 5vw;
}

.img--grid--6 {
	grid-column: 3/15;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 2vw;
}

@media screen and (max-width: 480px) {

	.img--grid--6 {
		grid-template-columns: repeat(2, 1fr);
	}
}


.img--grid--4 img, video {
	outline: 0; 
	max-width: 100%; 
	height: auto;
}

.img--grid--6 img, video {
	outline: 0; 
	max-width: 100%; 
	height: auto;
}

.img--fullsize {
	grid-column: 3/15;
	outline: 0; 
	max-width: 100%; 
	height: auto;
}

img, video:hover {
	transition: all ease 0.2s;
}

img, video:active {
	transition: all ease 0.2s;
}

.clickable:hover {
	cursor: pointer;
}

.clickable:active {
	cursor: pointer;

}

#slider {
	max-width: 100%;
	height: auto; 
	position: relative;
	overflow: hidden;
	z-index: 0;  
}

#slider ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: -1;
}

#slider li {
	position: relative;
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: -2;
}

#slider img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	max-height: 100%;
	z-index: -3;
}

a.control_prev, a.control_next {
	position: absolute;
	top: 35%;
	z-index: 999;
	display: block;
	padding: 4% 3%;
	width: auto;
	height: auto;
	text-decoration: none;
	font-weight: 800;
	font-size: 2rem;
	cursor: pointer;
	color: #000;
}

a.control_prev:hover, a.control_next:hover {
	color: #ff3333;
	transition: all ease 0.2s;
}

a.control_prev:active, a.control_next:active {
	color: #ff3333;
	transition: all ease 0.2s;
}

a.control_prev {
}

a.control_next {
	right: 0;
}


figcaption {
	display: none;
	position: absolute;
	padding: .5em .25em;
	color: #fff;
	background-color: #ff4433;
}

.border {
	border-bottom: 3px solid #ffe4e4;
}

.date {
	font-weight: 800;
}

.location {
	display: flex;
	margin-top: 1em;
	line-height: 1.15;

}

.location p {
	margin-left: 1em;
}

img.pin {
	height: 1em;
}

#box--skills {
	grid-column: 3/15;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	align-items: flex-start; 
	justify-content: flex-start;
	margin-bottom: 8vw;
}

#box--skills p {
	color: #fff;
	background-color: #ff4433;
	padding: .5em .25em;
	margin: 0 2vw 2vw 0;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 13vw;
	padding-right: 13vw;
	height: 10vw;
}

footer a {
	color: #fff;
	text-decoration: none;
	padding: .5em;
}

#mail {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}



#typed {
	font-weight: bold;
	margin: 10px 0;
	letter-spacing: 2px;
	font-size: 48px!important;
}

.typed-cursor {
	font-weight: bold;
	margin: 10px 0;
	letter-spacing: 2px;
	font-size: 48px!important;
}